<div class="container">
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Usuarios</a></li>
                <li><a href="#">Configuración</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </aside>


    <main class="content">
        <app-agregar-usuarios (usuarioAgregado)="agregarUsuario($event)"></app-agregar-usuarios>
        <br>
        <p appResaltarTexto>Texto resaltado por defecto</p>
        <p appResaltarTexto colorResaltar="red">Texto resaltado en rojo</p>
        <p appResaltarTexto colorResaltar="green">Texto resaltado en verde</p>
        <br>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th class="tc">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuarios; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td class="tc">
                        <button class="btn" (click)="editarUsuario(user)">Editar</button>
                        <button class="btn delete" (click)="eliminarUsuario(i)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>